@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;800&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    justify-content: space-between;
    height: 90vh;
}
.dashboard{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}

.main-page h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 28px;
    padding: 5px;
    padding-left: 25px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.main-page h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 19.4px;
    padding-left: 25px;
    margin-top: 0%;
}
.main-page h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 13.4px;
    margin-bottom: 5px;
    margin-top: 30px;
}
.main-page p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13.4px;
    padding-left: 15px;
    color: black;
}
.main-page{
    display: block;
    text-align: left
}
.rounded-box-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    margin: 15px;
}
.box-row-top{
    display: flex;
    flex-direction: row;
    flex: auto;
}
.box-row-bottom{
    display: flex;
    flex-direction: row;
    flex: auto;
}
.rounded-box-info{
    background-color: #f66e1a;
    border-radius: 30px;
    padding-left: 25px;
    padding-top: 20px;
    margin: 10px;
    width: 229px;
    height: 127px;
    text-align: left;
}
.rounded-box-info h6, p{
    padding-left: 15px;
}

.box-row{
    display: block;
}

.side-menu{
    background: linear-gradient(90deg,rgba(246,110,26,1) 50%,  rgba(116,62,227,1) 100%);
    background-size: contain;
    height: 100vh;
    width: 366px;
    margin-left: 31px;
}
.menu-items{
    align-items: left;
    padding-bottom: 50px;
    margin-bottom: 30px;    
}
.menu-items h6{
    font-family: 'Poppins', sans-serif;
    font-size: 13.4px;
    font-weight: 800;
    margin-left: 31px;
    margin-bottom: 21px;
    margin-top: 21px;

}

.menu-items li{
    font-family: 'Poppins', sans-serif;
    font-size: 13.4px;
    font-weight: 400;
    margin-left: 31px;
    margin-bottom: 31px;
    list-style-type: none;
}
.menu-items a{
    text-decoration: none;
    color: black;
}
.menu-items a:hover{
    color: #743ee3;
}

.side-menu p{
    font-family: 'Poppins', sans-serif;
    font-size: 11.4px;
    font-weight: 400;
    margin-left: 20px;
    padding: 10px;
}

.user-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    margin-left: 31px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.user-container h3{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: white;
    margin: 5px;
    padding-left: 5px;
}
.user-img img{
    border-radius: 50%;
    border-color: white;
    width: 55px;
    height: 55px;

}
.user-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer-circle{
    display: flex;
    justify-content: center;
    border: 2px solid;
    border-radius: 50% !important;
    width: 62px;
    height: 62px;
    border-color: white;
}

.textbox-bottom{
    position: absolute;
    margin-bottom: auto;
    bottom: 0;
}

/*Account info*/
.form-field{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
}

.row{
    margin: 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.form-inputField{
    border-radius: 20px;
    text-align: left;
    border: none;
    height: 54px;
    width: 454px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: black;
    background-color: #d5d9dd;
    padding-left: 15px;
    padding-right: 15px;
}
.form-field h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 28px;
    color: black;
}
.account-container{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;

}
.user-container-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50px;
    right:10px;
    left: 500px;
    margin-left:50%;
}
.user-container-2 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: black;
    
}
.user-img-2 img{
    border-radius: 50%;
    width: 55px;
    height: 55px;

}
.user-img-2{
    display: grid;
}
.outer-circle-2{
    display: grid;
    justify-content: center;
    border: 2px solid;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    border-color: black;
}
.leave-btn{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 77%;
    color: red;
    background-color: white;
    border-color: red;
    border: 2px solid;
    border-radius: 15px;
}
.leave-btn i{
    color: red;
    height: 10px;
    width: 10px;
    padding-right: 10px;
}
.leave-btn h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}
.copyright-2{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 10.4px;
    padding-bottom: 5px;
    margin: 5px;
    bottom: 0;
    left: 0;
}
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right-half{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 30%;
    font-family: 'Poppins', sans-serif;
    padding-top: 5%;
    margin-top: 15% !important;
}
.feedback-field{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    margin-bottom: 85% !important;
}
.right-half h4{
    font-size: 20px;
    padding-left: 10px;
    font-weight: 500;
    margin-bottom: 5px;
}
::placeholder{
    padding: 5px;
    font-family: 'Poppins', sans-serif;

}
textarea{
    margin: auto 0;
    background-color: #d5d9dd;
    padding-top: 10px;
    line-height: normal;
    padding-left: 10px;
    text-align: left;
    border-radius: 15px;
    height: 201px;
    width: 431px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid;
    border-color: #f66e1a;
}
.submit-btn{
    border-radius: 50px;
    background-color: #743ee3;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13.4px;
    color:black;
    height: 47px;
    width: 100px;
    align-items: center;
    border: none;
}
.text-area-bottom{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 10%;
    
}
.text-area-bottom h6{
    font-size: 13.4px;
}
.text-area-bottom p{
    padding-left: 0px;
    font-size: 13.4px;
    font-weight: 400;
}
.text-area-bottom a{
    text-decoration: none;
    color: #743ee3;
}
.text-area-bottom a:hover{
    color: #f66e1a;
}

